@media (max-width: 450px) {
    .filter-main-div-open{
        position: fixed;                
        margin-top: 6.99vh;
        width: 80vw;        
        background: rgba(255,255,255, .85);
        margin-left: 0 !important;
        transition: .4s ease-in-out;
        
        
    }

    .filter-main-div-closed{
        position: fixed;                
        margin-top: 6.99vh;
        width: 80vw;         
        margin-left: -91vw !important;
        transition: .5s ease-in-out;
        background: rgba(255,255,255, .85);
    }

    .filter-tab-button-open{
        margin-left: 66vw !important;
        transition: .2s ease-in-out;
    }

    .filter-tab-button-closed{
        margin-left: 77vw !important;
        transition: .8s ease-in-out;
    }

    .home-page-filter-span{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* padding: 0 15px; */
                    
        border-top: none;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-top: 35vh; 
        width: 140px; 
        transform: rotate(-90deg);    
        height: 36px;    
        background: rgba(0,0,0, .5);
    }

    .filter-button-span{
        letter-spacing: 7px;
        /* margin: 5px; */
        font-weight: 500;
        padding: 5px; 
        font-size: 17px;  
        color: white;            
      }
      .filter-tool-main-div{
          height: 93vh;
      }
}